@page
@model GElectra.Views.Admin.AdminDashBoardModel
@{
    ViewData["Title"] = "AdminDashBoard";
}

<h1>AdminDashBoard</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
