@page
@model GElectra.Views.Customer.CustomerDashboardModel
@{
    ViewData["Title"] = "CustomerDashboard";
}

<h1>CustomerDashboard</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

